.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color: rgb(238, 186, 55);
  padding:1rem 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.contenido {
  padding: 2rem;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
